#forms {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    gap: 15px;

    .pack-input {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        label {
            display: flex;
            align-items: center;
            width: 120px;
        }

        input {
            width: 100%;
        }

        .label-text {
            padding: 0;
        }
    }
}

form {
    background-color: var(--background-secundary);
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    width: 400px;
    gap: 10px;
    border-radius: 20px;
    color: var(--text-color);

    h2 {
        text-align: center;
    }

    label {
        display: flex;
        flex-direction: column;

        .label-text {
            padding: 0 0 3px 13px;
            font-weight: bold;
            font-size: 11pt;
        }
    }

    input, select, textarea {
        color: var(--text-color);
        background-color: var(--backgorund-input);
        padding: 5px 13px;
        border-radius: 20px;
        border-style: solid;
        border-color: var(--backgorund-input);
        transition: border-color 0.3s ease;

        &:focus {
            outline: none;
            border-color: var(--details-color)
        }
    }

    textarea {
        resize: none;
        height: 75px;
    }
}

.custom-checkbox {
    user-select: none;
    display: flex;
    align-items: center;
    cursor: pointer;


    input {
        display: none;
    }

    .checkmark {
        margin: 4px;
        width: 20px;
        height: 20px;
        background-color: var(--backgorund-input);
        border: 2px solid transparent;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: all 0.3s ease;

        &:after {
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 2px;
            background-color: var(--details-color);
            opacity: 0;
            transition: all 0.3s ease;
        }
    }

    &:hover .checkmark {
        border: 2px solid var(--details-color);
    }

    input:checked + .checkmark {
        border: 2px solid var(--details-color);
        &:after {
            opacity: 1;
        }
    }
}

.btn-area {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        width: 50%;
        padding: 10px;
        background-color: var(--details-color);
        border: none;
        border-radius: 30px;
        font-weight: bold;
        transition: all 0.3s ease;
        box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.2);

        &:hover {
            transform: scale(1.05);
        }
    }
}