:root {
    --details-color: gold;
    --background-main: #121212;
    --background-secundary: #3e3e3e;
    --backgorund-input: #606060;
    --text-color: white;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--background-main);
}

/* Para remover as setinhas de incremento/decremento dos campos de número */
input[type=number] { /* Remove do Mozilla Firefox */
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { /* Remove dos demais navegadores de uso comum */
    -webkit-appearance: none;
    margin: 0;
}

